$node-view-min-width: 100px;

.node-view {
  display: inline-block;
  position: absolute;
  min-width: $node-view-min-width;
  border: 1px solid $palette-primary;
  box-shadow: 0 0 10px black;

  .node-view-header {
    cursor: move;
    user-select: none;
    min-height: $size-text;
    padding: 0 $interval-component;
    color: $palette-foreground-inverse;
    background-color: $palette-primary;

    .node-view-actions {
      cursor: pointer;
      float: right;
    }
  }

  .node-view-body {
    background-color: $palette-background;
    padding: $interval-component;
    overflow: auto; // A hack to fix issues with floating losts causing body to collapse
  }

  .node-view-pins {
    &:empty {
      display: none;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      position: relative;
    }
  }

  .node-view-inputs {
    float: left;

    li {
      text-align: left;
      padding: 0 $interval-component;
    }
  }

  .node-view-outputs {
    float: right;

    li {
      text-align: right;
      padding: 0 $interval-component;
    }
  }
}
