.node-view {
  display: inline-block;
  position: absolute;
  min-width: 100px;
  border: 1px solid $palette-primary;
  box-shadow: 0 0 10px black;

  .node-view-header {
    user-select: none;
    min-height: $size-text;
    padding: 0 $interval-component;
    color: $palette-foreground-inverse;
    background-color: $palette-primary;
  }

  .node-view-body {
    background-color: $palette-background;
  }

  .node-view-pins {
    padding: $interval-component $interval-block;
    list-style: none;

    &:empty {
      display: none;
    }

    li {
      position: relative;
    }
  }

  .node-view-inputs {
    li {
      text-align: left;

      .node-view-pin {
        position: absolute;
        width: 0;
        height: 0;
        top: 0.75em;
        left: -$interval-block;
      }
    }
  }

  .node-view-outputs {
    li {
      text-align: right;

      .node-view-pin {
        position: absolute;
        width: 0;
        height: 0;
        top: 0.75em;
        right: -$interval-block;
      }
    }
  }
}
