.l-artograph {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(48, 55, 64);

  .result-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    line-height: 100vh;
    text-align: center;

    canvas {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .graph-view {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .l-artograph-node-picker {
    position: absolute;
    width: 100%;
    z-index: 3;
    text-align: center;
  }

}
